.gamename
	position: relative;
	left: 20;
	top: 20;
	color: red;
	border: 1px solid black;
	border-radius: 2px;
	width: 150;

.container
	position: relative;

.disconnect
	color: red;
	position: relative;

.grid1
	position: relative;
	top: 0;
	left: 0;
	width: 32px * 11;
	height: 32px * 11 + 20;
	
	.tile
		border: 1px solid #CCC
		background-color: #FFF
	
	.tile:hover
		border: 1px solid #CCC
		background-color: #F00
.grid2
	position: relative;
	top: 0;
	right: 0;
	width: 32px * 11;
	height: 32px * 11 + 20;
	
	.tile
		border: 1px solid #CCC
		background-color: #FFF
	
	.tile:hover
		border: 1px solid #CCC
		background-color: #F00
